    return{
      background-color:firebrick;
      
    }
    h1 {
        color: black;
        text-align:center;
        position: relative;
        top:20px;
    }
    .color-box {
        width: 100px;              
        height: 50px;             
        display: flex;             
        align-items: center;
        justify-content: center;
        color: black;             
        font-size: 18px;
        font-weight: bold;
        background-color: lightgrey;
        
    }
    .header-box {
        width: 1500px;             
        height: 100px;             
        display: flex;           
        align-items: center;
        justify-content: center;
        color: white;              
        font-size: 50px;
        font-weight: bold;
        background-color: black;
        
    }
    .box-one{
      position: relative;
      top:100px;
      left:500px;
    }
    .box-two{
      position: relative;
      left:900px;
      top:49px;
      
    }
    .box-three{
      position: relative;
      top:200px;
      left:500px;
    }
    .box-four{
      position: relative;
      left:900px;
      top:149px;
    }