.login-form-input {
    color: #000000;
    border: 1px solid #ccc;
    min-height: 25px;
    border-radius: 5px;
    text-indent: 10px;
    max-width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
    background-color: white;
}
.login-form-submit {
    color: #000000;
    background-color: #CDCDC8;
    min-height: 25px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.login-form-container {
    border: 1px solid #000000;
    background-color: #2D2828;
    padding: 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    background-color: #A6192E
}

.login-title {
    color: whitesmoke
}

