.report-form-input {
  color: #000000;
  border: 1px solid #ccc;
  min-height: 25px;
  border-radius: 5px;
  text-indent: 10px;
  max-width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
  background-color: white;
}
.report-form-desc {
  color: #000000;
  border: 1px solid #ccc;
  display: block;
  background-color: white;
  border-radius: 5px;
  max-width: 100%;
  margin-bottom: 20px;
  min-height: 100px;
  font-size: 15px;
  overflow: hidden;
}
.report-form-submit {
  color: #000000;
  background-color: #cdcdc8;
  min-height: 25px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.report-form-container {
  border: 1px solid #000000;
  background-color: #2d2828;
  padding: 10vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.report-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-color: #a6192e;
}

.report-title {
  color: whitesmoke;
}
